<div class="mt-4">
    <h3>Khóa học của tôi</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-warning">Sửa</a>
                    <a href="" class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này.</p>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form method="POST" name="delete-course-form">
</form>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course'); //lấy nút xóa

    //When dialog confirm clicked
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id');
      //console.log(id);
    });


      //When delete course btn clicked
      //console.log(btnDeleteCourse);
      btnDeleteCourse.onclick = function () {
        //alert(courseId);
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
        deleteForm.submit();
      }

  });

 
</script>